@model List<TravelPackage>
@{
    ViewData["Title"] = "Home Page";
    var random = new Random();
    var shuffledPackages = Model.OrderBy(x => random.Next()).Take(4).ToList();
}

<!-- Header Section -->
<div class="header-section">
    <div class="overlay"></div>
    <div class="content">
        <h1 class="display-1 animate__animated animate__fadeInDown">Welcome to WanderVibe</h1>
        <p class="lead animate__animated animate__fadeInUp animate__delay-1s">"Traveling – it leaves you speechless, then turns you into a storyteller." – Ibn Battuta</p>
        <a href="#popular-packages" class="btn btn-primary btn-lg mt-3 animate__animated animate__fadeInUp animate__delay-1s">Explore Now</a>
    </div>
</div>

<!-- Popular Tour Packages Section -->
<div class="container my-5" id="popular-packages">
    <h2 class="text-center mb-5">Popular Tour Packages</h2>
    <div class="row">
        @foreach (var package in shuffledPackages)
        {
            <div class="col-md-4 mb-4">
                <div class="card custom-card h-100 animate__animated animate__zoomIn">
                    <img src="@Url.Content("~/Server/Upload/" + package.ImageUrl)" class="card-img-top" alt="@package.PackageName">
                    <div class="card-body">
                        <h5 class="card-title">@package.PackageName</h5>
                        <p class="card-text"><strong>Price:</strong> $@package.Price</p>
                        <p class="card-text"><strong>From:</strong> @package.DestinationFrom</p>
                        <p class="card-text"><strong>To:</strong> @package.DestinationTo</p>
                        <p class="card-text">@package.Description.Substring(0, Math.Min(@package.Description.Length, 40))...</p>
                        <a asp-action="PackageDetail" asp-route-id="@package.PackageId" class="btn btn-outline-primary btn-block float-end">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
