@model List<TravelPackage>
@{
    ViewData["Title"] = "Home Page";
    var random = new Random();
    var shuffledPackages = Model.OrderBy(x => random.Next()).Take(6).ToList();
    var imageSlider = Model.OrderBy(x => random.Next()).Take(4).ToList();
}

<link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="~/carousel/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/carousel/css/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
<link rel="stylesheet" href="~/carousel/css/animate.css">
<link rel="stylesheet" href="~/carousel/css/style.css">

<!-- Header Section -->
<div class="header-section">
    <div class="overlay"></div>
    <div class="content">
        <h1 class="display-1 animate__animated animate__fadeInDown">Welcome to WanderVibe</h1>
        <p class="lead animate__animated animate__fadeInUp animate__delay-1s">"Traveling – it leaves you speechless, then turns you into a storyteller." – Ibn Battuta</p>
        <a href="#popular-packages" class="btn custom-btn mt-3 animate__animated animate__fadeInUp animate__delay-1s">Explore Now</a>
    </div>
</div>

<div class="text-center mt-3 mx-auto" style="max-width:1200px">
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["Success"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
</div>

<!-- Popular Tour Packages Section -->
<div class="container my-5" id="popular-packages">
    <h2 class="text-center mb-5 fw-bold">Our Popular Packages</h2>
    <div class="row">
        @foreach (var package in shuffledPackages)
        {
            <div class="col-md-4 mb-4">
                <a asp-action="PackageDetail" asp-route-id="@package?.PackageId" class="card-link">
                    <div class="card package-card h-100 animate__animated animate__zoomIn animate__delay-0.5s">
                        <img src="~/Server/Upload/@package.ImageUrl" class="card-img-top" alt="Tour Image">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <span><i class="bi bi-clock"></i>@package.NoOfDays Days</span>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">@package.PackageName</h4>
                            <h6 class="card-text"><i class="bi bi-geo-alt"></i> @package.DestinationFrom, @package.DestinationTo</h6>
                            <p class="card-text">@package?.Description?.Substring(0, Math.Min(@package.Description.Length, 75))...</p>
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <span class="btn custom-small-btn">Details</span>
                            <h6 class="card-text"><strong>From <span class="fs-5">$@package?.Price</span></strong></h6>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<!-- Image Carousel -->
<div class="image-carousel">
<section class="ftco-section">
    <div class="image-carousel-container">
        <div class="row">
            <div class="col-md-12 text-center">
                    <h2 class="heading-section mb-5 pb-md-4 text-center text-white fw-bold">Our Top Destinations</h2>
            </div>
            <div class="col-md-12">
                <div class="slider-hero">
                    <div class="featured-carousel owl-carousel">
                        @foreach (var package in imageSlider)
                        {
                            <div class="item">
                                <div class="work">
                                    <div class="img d-flex align-items-center justify-content-center" style="background-image: url('./Server/Upload/@package.ImageUrl');">
                                            <div class="text text-center fw-bold w-75">
                                            <h2>@package.PackageName</h2>
                                                <p class="text-white">@package.DestinationFrom to @package.DestinationTo</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="my-5 text-center">
                        <ul class="thumbnail">
                            @foreach (var package in imageSlider)
                            {
                                <li class="img">
                                    <a href="#"><img src="~/Server/Upload/@package.ImageUrl" alt="Thumbnail" class="img-fluid"></a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/carousel/js/owl.carousel.min.js"></script>
<script src="~/carousel/js/main.js"></script>